
.vertical-container {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;

}

body {
    background: hsl(174, 90%, 55%);
}

.grid-size-controls {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "t t t t t"
        "g g g s s";
    font-size: 2rem;
    font-family: 'Lobster', cursive;
    color: navy;
    max-width: 15%;
    justify-self: flex-start;
}

.grid-text {
    grid-area: t;
}

.grid-input-bar {
    grid-area: g;
}

.submit-grid {
    grid-area: s;
}

.sketch-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Lobster', cursive;
    color: yellow;
    align-items: center;
    background-color: red;
    border-style: none solid none solid;
    border-image: linear-gradient(to right, #8b0000, red, #8b0000);
    border-color: none red none red;
    border-width: 0 70px 5px 70px;
    border-radius: 15px;
}  



.grid-container {
    display: grid;
    --grid-cols: 16;
    --grid-rows: 16;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    grid-template-rows: repeat(var(--grid-rows),1fr);
    height: 70vmin;
    width: 70vmin;
    margin: auto;
 
    
}

.drawing-area {
background: gainsboro;
}



header {
    height: 100%;
    
}



footer {
    margin:25px 0;
}



.grid-colored-black {
    background: black;
}

.grid-item {
    min-width: 5px;
    min-height: 5px;
    box-sizing: border-box;
    
}